/* app css stylesheet */

body {
  padding-top: 50px;
}

.bfx-ui-panel {
  border: 1px solid #777;
  height: 100%;
}

#bfx-main-panel {
  margin-left: 0px;
  margin-right: 0px;
}

#bfx-tools-panel {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #999999;
}

#bfx-editor-panel {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  height: 100%;
  background-color: #ffffff;
}

#bfx-properties-panel {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.bfx-tool {
  height: 100px;
  padding: 10px;
  border: 1px solid #777;
  background-color: #555555;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  color: #ffffff;
}

.bfx-tool-row {
  margin: 0px;
  padding: 0px;
}

.bfx-tool-col {
  margin: 0px;
  padding: 0px;
}

.bfx-tool-icon {
  position: absolute;
  top: 35px;
  left: 40px;
}

.bfx-tool-text {
  margin: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.blue {
  background-color: #0000FF;
}

