/* app css stylesheet */

body {
  padding-top: 50px;
}

.bfx-ui-panel {
  border: 1px solid #777;
}

#bfx-main-panel {
  margin-left: 0px;
  margin-right: 0px;
}

#bfx-tools-panel {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#bfx-editor-panel {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  height: 100%;
}

#bfx-properties-panel {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.bfx-tool {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-top: 5px solid #777;
  border-bottom: 5px solid #777;
  background-color: #ff0000;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.blue {
  background-color: #0000FF;
}

